// Event detail after login profile
.pelatihan__box{
	
}

// Desktop
@media (min-width: 992px) {
	.pelatihan__box{
		// background-color: rgba(220, 220, 211, 0.3);
		background-color: $default;
		height: 100%;
		margin-bottom: 3rem;	
		.nav__event-pelatihan {
			.btn__pelatihan {
				background-color: $bg-button-clean!important;
				border:0;
				color: $color-primary;
				font-weight: 700;
				width: 320px;
				&:hover{
					color: $color-primary;
				}
			}
			.collapse__category-event-1{
				margin-top: -.7rem;
				.btn__category-1{
					// background-color: $bg-button-gray!important;
					background-image: linear-gradient(to top right, $bg-button-gray, $bg-button-clean)!important;
					border:0;
					color: $color-primary;
					font-weight: 400;
					width: 320px;
					font-size: 14px;
					&:hover{
						color: $bg-second-primary;
						font-weight:600;
						font-size:16px;
					}
				}

				.collapse__category-event-2{
					margin-top:-.5rem;
					.btn__category-2{
						background-image: linear-gradient(to top right, $color-primary, $color-link)!important;
						border:0;
						color:$default;
						font-weight: 600;
						width: 320px;
						&:hover{
							color: $default;
							font-weight:700;
						}
					}

					.card{
						background-color:$color-primary!important;
						color:$default;
						font-weight: 500;
						width: 325px;
						margin-left: .3rem;
						margin-top: .4rem;
						.list__modul{
							margin-top: -.8rem;
							h5{
								font-size:23px;
								margin-left: 1rem;
								font-weight: 700;
								border-bottom:2px solid $default;
							}
							.list-group-item{
								background-color:$color-primary!important;
								border:0;
								margin-bottom: 1rem;
								a{
									font-size:16px!important;
									color: $default;
									font-size:16px;
									font-weight: 500;
								}
							}
						}
					}

					// .collapse__category-event-3{
					// 	margin-top: -.3rem;
					// 	margin-left: .3rem;
					// 	.card{
					// 		background-color:$color-primary!important;
					// 		color:$default;
					// 		font-weight: 500;
					// 		width: 320px;
					// 		.list__modul{
					// 			margin-top: -.8rem;		
					// 			h5{
					// 				font-size:23px;
					// 				margin-left: 1rem;
					// 				font-weight: 700;
					// 				border-bottom:2px solid $default;
					// 			}
					// 			.list-group-item{
					// 				background-color:$color-primary!important;
					// 				border:0;
					// 				a{
					// 					color: $default;
					// 					font-size:16px;
					// 					font-weight: 500;
					// 				}
					// 			}
					// 		}
					// 	}
					// }
				}
			}
			
		}
		.content__event-pelatihan{
			width: 100%;
			.alert{
				margin-top: 5rem;
				width: 80%;
				margin-left: 3rem;
			}
			.embed__file{
				height: 100vh;
				margin-bottom: 37rem;
				.type__name{
					border: 2px solid $color-primary;
					width:25%;
					color: $color-primary;
					font-weight: 600;
					text-align: center;
					margin-bottom: 1.5rem;
				}
				h2{
					color: $color-primary;
					font-weight:600;
					line-height: 21px;
					margin-bottom: 1.5rem;
				}
				h4{
					color: $color-primary;
				}
				object {
					margin-left: -11px;
				}
				margin-top: 1rem;
				height: 500px;
				margin-left: -11px;
			}
		}
	}
}