// Event detail after login profile
.pelatihan__box{
	
}

// Desktop
@media (min-width: 992px) {
	.pelatihan__box{
		background-color: rgba(220, 220, 211, 0.3);		
		.nav__event-pelatihan {
			.btn__pelatihan {
				background-color: $bg-button-clean!important;
				border:0;
				color: $color-primary;
				font-weight: 700;
				width: 320px;
				&:hover{
					color: $color-primary;
				}
			}
			.collapse__category-event-1{
				margin-top: -.7rem;
			}
			.collapse__category-event-2{
				margin-top: -.2rem;
				width: 320px;
				margin-left: .5rem;
				.card{
					background-color:$color-primary!important;
					color:$default;
					font-weight: 500;
					.list__modul{					
						h5{
							font-size:23px;
							margin-left: 1rem;
							font-weight: 700;
							border-bottom:2px solid $default;
						}
						.list-group-item{
							background-color:$color-primary!important;
							border:0;
							a{
								color: $default;
								font-size:16px;
								font-weight: 500;
							}
						}
					}
				}
			}
			.btn__category{
				background-color: $bg-button-gray!important;
				border:0;
				color: $color-primary;
				font-weight: 400;
				width: 320px;
				&:hover{
					color: $color-primary;
				}
			}
		}
		.content__event-pelatihan{
			width: 100%;
			.alert{
				width: 80%;
				margin-left: 3rem;
			}
			object {
				margin-left: 37px;
			}
			.embed__video{
				margin-left: 23px;
			}
		}
	}
}