// made with love
// Bandung 25 Januari 2022
// Component styling using scss

// Component HOMEPAGE

// Jumbotron component
.jumbotron__home{
	margin-top: 2.5rem;
	object-fit: cover;
	background-color:$color-secondary;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	border-radius: 8px;
	width: $bg-jumbo-width;
	height: 550px;
	position:relative;

	&:after{
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		margin-left: -1rem;
		background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
		position: absolute;
		bottom:0;
		border-radius: 10px;
	}
	@include jumbotron_mobile($default);
}

.banner{
	position: relative;
	img{
		object-fit: cover;
		max-width: 100%;
	}
	
	.container{
		z-index: 1000;
		max-width: 1000px;
		position: absolute;
		left: 0;
		right: 0;
		top: 75%;
		text-align: left;
		transform: translateY(-50%);
		h2, p{
			text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
			font-weight: 600;
		}
		h2{
			font-size: 13px;
		}
		p{
			font-size:10px;
		}
		&:after{
			content: "";
			display: block;
			width: 100%;
			left:25px;
			top:0;
			position:absolute;
			background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5));
		}
	}
}
.carousel{
	border-radius: 10px;
	overflow: hidden;
}

.my__btn-primary{
	@include button_primary;
}

@media (min-width: 992px) {
	.banner{
		
		.jumbotron__home{
			margin-top: 3.5rem;
			width: $bg-jumbo-width;
			max-height: $bg-jumbo-height;
			position:relative;

			@include jumbotron_desktop($default);
		}
		position: relative;
		img{
			max-width: 100%;
		}
		.carousel-control-prev-icon,
		.carousel-control-next-icon {
			height: 50px !important;
			width: 50px !important;
			margin-top: -5rem;
			border-radius:50%;
			background-color: $color-primary;
			z-index: 9999!important;
		}
		.carousel-indicators{
			z-index: 9999;
			li{
				width:20px;
				height: 20px;
				background-color: linear-gradient(to top, $color-primary, $bg-second-primary);
			}
			.active{
				background-color: $bg-second-primary !important;	
			}
		}

		.container{
			// z-index: 1;
			// &:after{
			// 	content: '';
			// 	display: block;
			// 	margin-top: -17.2rem;
			// 	width: 100%;
			// 	height: 525px;
			// 	margin-left: -1.5rem;
			// 	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2));
			// 	position: absolute;
			// 	bottom:0;
			// 	border-radius: 10px;
			// 	z-index: -1;
			// }
			h2, p{
				text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
				font-weight: 700;
				font-size: 21px;
			}
			h2{
				margin-top:2rem;
			}
			p{
				width: 600px;
				text-align: justify;
				font-size: 12px;
				line-height: 31px;
			}
			button{
				background-color:$color-primary;
				font-size: 14px;
				border-radius:8px;
			}
			
			.my__btn-primary{
				font-size:14px;
				font-weight: 600;
				line-height: 21.79px;
				@include button_primary;
			}
		}
	}
	.carousel{
		border-radius: 10px;
		overflow: hidden;
	}
}

// List pelatihan&webinar component&ppkc component
.card__list{
	.header__ppkc-list-page{
		text-align: center;
		h4{
			color: $color-primary;
			font-size:21px;
			font-weight: 700;
			line-height: 23px;
		}
		.ppkc__col-1{
			margin-top: 1rem;
		}
		.ppkc__col-2{
			max-width: 90%;
			h5{
				margin-top: 2rem;
				text-align: left;
				font-weight: 600;
				font-size: 21px;
			}
			p{
				font-size:16px;
				font-weight: 400;
				line-height: 35px;
				margin-top: 1rem;
				text-align: justify;
			}

			@include hover_image_display;
		}

		.ppkc__col-3{
			max-width: 90%;
			h5{
				margin-top: 2rem;
				text-align: left;
				font-weight: 600;
				font-size: 21px;
			}
			ol{
				margin-left: -1rem;
			}
			ol li{
				text-align: left;
				font-size:16px;
				font-weight: 400;
				line-height: 35px;
			}
		}
		
	}

	.card__header{
		@include listMobile($color-primary);
	}

	.card__content{
		.card{
			margin-bottom: 2rem;
			.event__image-wrap{
				position: relative;
				.overlay__event-img {
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					width: 290px;
					height:200px;
					opacity: 0;
					transition: .3s ease;
					background-color: rgba(205, 209, 228, 0.9);
				}

				&:hover .overlay__event-img {
					opacity: 1;
				}

				.icon {
					color: white;
					font-weight: 700;
					font-size: 100px;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					-ms-transform: translate(-50%, -50%);
					text-align: center;
				}

				.fa-zoom:hover {
					color: #eee;
				}
			}
			
			.badge__category{
				color: $color-primary!important;
			}
			@include card_rounded_mobile;
		}
	}
}
@media (min-width: 992px) {
	.card__list{
		.header__ppkc-list-page{
			text-align: center;
			h4{
				color: $color-primary;
				font-size:23px;
				font-weight: 700;
				line-height: 21px;
			}
			p{
				font-size:16px;
				font-weight: 400;
				line-height: 23px;
			}
			.card__ppkc-img{
				max-width: 100%;
				object-fit: contain;
			}
		}
		.card__header{
			@include listDesktop($color-primary);
		}

		.card__content{
			.alert{
				margin-bottom: 5rem;
			}
			.card {
				// width:310px;
				// height: 470px;
				img{
					width: 500px;
					height: 200px;
					object-fit: cover;
				}
				.card-body{					
					.badge__category{
						color: $color-primary!important;
					}
				}
				@include card_rounded_desktop;
			}
		}
	}
}


// Parallax component
.parallax{
	@include parallax_mobile;
}


@media only screen and (max-device-width: 812px) {
	.parallax {
		background-attachment: scroll;
	}
	@include parallax_overlay;

}
@media (min-width: 992px) {
	.parallax{
		@include parallax_desktop;
	}
	@include parallax_overlay;
}


// Berita component
.berita__list{
	background-image: linear-gradient(to bottom right, $bg-primary, $bg-second-primary);
	width: 100%;
	@include header_inside_list_mobile($default);
	.col__berita{
		.card{
			margin-top: 1rem;
			filter: drop-shadow(5px 5px 10px $bg-fourt);
			width: 333px;
			// height: 370px;
			margin-bottom:1rem;
			img{
				max-width: 333px;
				object-fit: contain;
			}
			@include card_rounded_mobile;
		}
	}
}

// Desktop
@media (min-width: 992px) {
	.berita__list{
		background-image: linear-gradient(to bottom left, $bg-primary, $bg-second-primary);

		@include header_inside_list_desktop($default);
		.col__berita{
			.card{
				margin-top: 2rem;
				filter: drop-shadow(5px 5px 10px $bg-fourt);
				width: 317px;
				img{
					max-width: 317px;
					// height: 200px;
					object-fit: contain;
				}
				@include card_rounded_desktop;
			}
		}
	}
}
// End berita component

// Testimoni component
.testimoni__list{
	@include header_inside_list_mobile($color-primary);
	.col__testimoni{
		.card{
			margin-bottom: 2rem;
			@include card_rounded_mobile;
		}
	}
}

// Desktop
@media (min-width: 992px) {
	.testimoni__list{
		@include header_inside_list_desktop($color-primary);
		.col__testimoni{
			.card{
				height: 270px;
				@include card_rounded_desktop;
			}
		}
	}
}
// end testimoni

// Visi & Misi Content
.visi__misi{
	.visi-misi__header{
		@include listMobile($default);
	}
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	text-align: center;
	margin:0;
	z-index: -1;
	&:before{
		position: absolute;
		content: "";
		height: 100%;
		width: 100%;
		background-color: #3763EB;
		left: 0;
		top: 0;
		opacity: 0.6;
	}
	.visi-misi__content{
		color:$default;
		// margin-left: -5rem;
		width:80%;
		z-index: 9999;
		h1{
			font-size:27px;
			font-weight: 700;
			line-height: 32.68px;
			margin-left: -5.6rem;
		}
		p{
			text-align: justify;
			margin-left:3rem;
			width: 100%;
			font-size:14px;
			margin-bottom: 3rem;
		}
		ol li{
			list-style: none;
			list-style-type: decimal;
			text-align: justify;
			line-height: 21px;
			width: 240px;
			font-size:14px;
			margin-bottom: 1rem;
			margin-left: 1.5rem;
		}
	}
}

// Desktop
@media (min-width: 992px) {
	.visi__misi{
		.visi-misi__header{
			@include listDesktop($default);
		}
		position: relative;
		background: #333;
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center;
		z-index: -1;
		min-height:550px; 
		&:before{
			position: absolute;
			content: "";
			height: 100%;
			width: 100%;
			background-color: #3763EB;
			left: 0;
			top: 0;
			opacity: 0.7;
		}
		.visi-misi__content{
			color:$default;
			margin-left: 5.5rem;
			width:80%;
			z-index: 9999;
			h1{
				margin-left: -2rem;
				font-size:27px;
				font-weight: 700;
				line-height: 32.68px;
			}
			p{
				text-align: justify;
				line-height: 21px;
				width: 640px;
				font-size:14px;
				margin-bottom: 1.5rem;
			}
			ol li{
				list-style: none;
				list-style-type: decimal;
				text-align: justify;
				line-height: 21px;
				width: 640px;
				font-size:14px;
				// margin-bottom: 1rem;
				margin-left: 1.5rem;
			}
		}
	}
}
// End visi-misi content

// Footer layout
.footer__layout{
	background-color: $second-default;
	margin-top: 0!important;
	.footer__sitemap{
		margin-top: 1rem;
		height: 100%;
		.col-1{
			color:$default-gray;
			p{
				margin-top: 1.3rem;
				font-size:14px;
				font-weight: 400;
				line-height: 19.07px;	
			}
			address{
				margin-top: 1rem;
				font-size:14px;
				font-weight: 500!important;
				line-height: 19.07px;
			}
		}

		.col-2{
			width: 100%!important;
			color:$default-gray;
			h5{
				color:$color-primary;
				margin-left: 2.5rem;
				font-size:23px;
				margin-top: 1.3rem;
				font-weight: 600;
					// text-decoration: underline wavy  $color-primary;
				}
				ul li{
					font-size: 14px;
					font-weight: 600;
					line-height: 21.07px;
				}
				a{
					color: $color-primary;
				}
				.footer__sitemap-apk{
					margin-top: -1rem;
				}
			}

			.col-3{
				z-index: 1;
				a{
					color: $color-primary;
				}
			}
		}

		.footer-copyright{
			background-color:$bg-second-primary!important;
		}
	}

	// Desktop
	@media (min-width: 992px) {
		.footer__layout{
			background-color: $second-default;
			margin-top: 0!important;
			.footer__sitemap{
				height: 600px;
				.col-1{
					color:$default-gray;
					p{
						margin-top: 1.3rem;
						font-size:14px;
						font-weight: 400;
						line-height: 19.07px;
						top:128px;
						height: 76px;
						width: 288px;
						left: 224px;	
					}
					address{
						margin-top: 1rem;
						font-size:14px;
						font-weight: 500!important;
						line-height: 19.07px;
					}
				}

				.col-2{
					width: 100%;
					margin-left: 1rem;
					color:$default-gray;
					h5{
						margin-left: 5.3rem;
						font-weight:600;
						color:$color-primary;
						margin-bottom: .9rem;
					}
					ul li{
						margin-left: 3rem;
						font-size: 12px;
						font-weight: 600;
						line-height: 19.07px;
						width: 250px;
						margin-bottom: .5rem;
					}
					a{
						color: $color-primary;
					}

					.footer__sitemap-link{
						margin-left: .8rem;
					}
					.footer__sitemap-apk{
						margin-top: .9rem;
					}
				}

				.col-3{
					z-index: 1;
					a{
						color: $color-primary;
					}
				}
			}

			.footer-copyright{
				background-color:$bg-second-primary!important;
			}
		}
	}


	/* One Click Scrool Top Button*/
	.scroll-top {
		width: 50px;
		height: 50px;
		line-height: 50px;
		background: #3763EB;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		font-size: 14px;
		color: #fff !important;
		border-radius: 0;
		position: fixed;
		bottom: 35px;
		right: 15px;
		z-index: 9;
		cursor: pointer;
		-webkit-transition: all .3s ease-out 0s;
		transition: all .3s ease-out 0s;
		border-radius: 50%;
		&:hover {
			-webkit-box-shadow: 0 1rem 3rem rgba(35, 38, 45, 0.15) !important;
			box-shadow: 0 1rem 3rem rgba(35, 38, 45, 0.15) !important;
			-webkit-transform: translate3d(0, -5px, 0);
			transform: translate3d(0, -5px, 0);
		}
	}
	// End footer
// end scroll top
// End Component HOMEPAGE

// Global
.line{
	list-style: none;
}