// Styling Profile page
// mobile
.profile__page{
	margin-top:7rem;
	.card__profile-page{
		.profile__info-data{
			.col__img-profile{
				.hover__image-wrap{
					position: relative;
					width: 100%;
					max-width: 400px;
					.image {
						display: block;
						width: 100%;
						height: auto;
						max-width: 150px;
						margin-left: -1rem;
					}

					.overlay {
						position: absolute;
						top: 0;
						bottom: 0;
						left: -7%;
						right: 0;
							// height: 100px;
							// width: 100%;
							max-width: 140px;
							border-radius:80%;
							opacity: 0;
							transition: .3s ease;
							background-color: rgba(205, 209, 228, 0.9);
						}

						&:hover .overlay {
							opacity: 1;
							border-radius:70%;
						}

						.icon {
							color: white;
							font-weight: 700;
							font-size: 70px;
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translate(-50%, -50%);
							-ms-transform: translate(-50%, -50%);
							text-align: center;
						}

						.fa-zoom:hover {
							color: #eee;
						}
					}
				// img{
				// 	max-width: 150px;
				// 	margin-left: 3.5rem;
				// }
			}
			.col__data-profile{
				margin-top: 1rem;				
				h4{
					color: $color-primary;
					font-size:23px;
					font-weight:700;
				}
				ul li{
					list-style: none;
				}
				li{
					margin-left: -2.5rem;
					font-size: 12px;
				}
			}
		}
	}
	.tabs__detail-profile{
		margin-top:2rem;
		// width: 100%;
		.content__tabs{
			margin-top: -2.5rem;
			background-color: $second-default;
			.profile__info{
				margin-left: -1rem;
				ul li{
					h6{
						color: $gray;
						font-weight:900!important;
						font-size:15px;
					}
					p{
						font-size: 14px;
						color:$default-gray;
					}
					.info__context{
						margin-top: -.5rem;
					}
				}
			}
		}
		.tabs {
			.nav-tabs {
				width: 100%;
				margin-left: -1rem;
				border-bottom: none;
			}

			.nav-tabs .nav-link.active{
				color:$color-primary;
				border:0;
				margin-bottom: 3rem;
				font-weight: 700;
				line-height: 31px;
				font-size: 13px;
				&:after{
					content:'';
					display: block;
					border-bottom: 3px solid #0B63DC;
					width:100%;
					margin:auto;
					padding-bottom: 5px;
					margin-bottom: -8px;
				}
			}

			.nav-link{
				color:$color-primary!important;
				font-weight: 500;
				line-height: 31px;
				font-size: 14px;
			}

			.nav-item.show .nav-link {
				color:$color-primary!important;
				font-weight: 700;
				line-height: 31px;
				font-size: 18px;
			}
			

			.profile__info{
				ul li{
					list-style: none;
				}
			}
		}

		.card{
			.card-title{
				font-size: 16px;
				font-weight: 700;
				color: $color-primary;
				text-transform:capitalize;
			}
			small{
				font-size:10px;
				font-weight: 700;
				color: $default-gray;
			}
			h4{
				font-size:16px;
				font-weight: bold;
			}
			a{
				font-size:11px;
			}
		}

	}
}

// Desktop
@media (min-width: 992px) {
	.profile__page{
		margin-top: 7rem;

		.card__profile-page{
			background-color: $second-default;
			.profile__info-data{
				width: 100%;
				.col__img-profile{
					.hover__image-wrap{
						position: relative;
						width: 100%;
						max-width: 400px;
						.image {
							display: block;
							width: 100%;
							height: auto;
							max-width: 130px;
							margin-left: -1rem;
						}

						.overlay {
							position: absolute;
							top: 0;
							bottom: 0;
							left: -7%;
							right: 0;
							// height: 100px;
							// width: 100%;
							max-width: 140px;
							border-radius:80%;
							opacity: 0;
							transition: .3s ease;
							background-color: rgba(205, 209, 228, 0.9);
						}

						&:hover .overlay {
							opacity: 1;
							border-radius:70%;
						}

						.icon {
							color: white;
							font-weight: 700;
							font-size: 70px;
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translate(-50%, -50%);
							-ms-transform: translate(-50%, -50%);
							text-align: center;
						}

						.fa-zoom:hover {
							color: #eee;
						}
					}		
					
				}
				.col__data-profile{
					margin-left: -15rem;
					margin-top: 1rem;				
					h4{
						color: $color-primary;
						font-size:21px;
						font-weight:700;
					}
					ul li{
						list-style: none;
					}
					li{
						margin-left: -2.5rem;
					}
				}
			}

			.profile__options-page{
				margin-top:2rem;
				margin-left:6rem;
				button{
					text-align: center;
					width: 130px;
					text-transform: capitalize;
					font-size: 11px;
					// width:100px;
				}
			}
		}
		.tabs__detail-profile{
			margin-top:2rem;
			.content__tabs{
				margin-top: -2.5rem;
				background-color: $second-default;
				.profile__info{
					ul li{
						h6{
							color: $gray;
							font-weight:900!important;
							font-size:15px;
						}
						p{
							font-size: 14px;
							color:$default-gray;
						}
						.info__context{
							margin-top: -.5rem;
						}
					}
				}
			}
			.nav-tabs {
				width: 50%!important;
				margin-left: -1rem;
				border-bottom: none;
			}

			.nav-tabs .nav-link.active{
				color:$color-primary;
				border:0;
				margin-bottom: 3rem;
				font-weight: 700;
				line-height: 31px;
				&:after{
					content:'';
					display: block;
					border-bottom: 3px solid #0B63DC;
					width:90%!important;
					margin:auto;
					padding-bottom: 5px;
					margin-bottom: -8px;
				}
			}

			.nav-link{
				color:$color-primary!important;
				font-weight: 700!important;
				line-height: 31px!important;
				font-size: 18px!important;
			}

			.nav-item.show .nav-link {
				color:$color-primary!important;
				font-weight: 700;
				line-height: 31px;
				font-size: 18px;
			}
			ul li {
				list-style: none;
			}
			li{
				font-size:18px;
			}

			h4{
				color:$color-primary;
				font-size: 20px;
				font-weight: 700;
				line-height: 27px;
				text-transform: capitalize;
			}

			.badge__category{
				margin-left: -9rem;
			}

			.btn__link-event{
				margin-top:5px;
				margin-left: -2px;
				border-radius:4px;
			}
		}
	}
}


.filtering__form-data{
	@include filtering_form_data;
}