// Styling Profile page
// mobile
.profile__page{
	margin-top:7rem;
	.card__profile-page{
		.profile__info-data{
			.col__img-profile{
				img{
					max-width: 150px;
					margin-left: 3.5rem;
				}
			}
			.col__data-profile{
				margin-top: 1rem;				
				h4{
					color: $color-primary;
					font-size:23px;
					font-weight:700;
				}
				ul li{
					list-style: none;
				}
				li{
					margin-left: -2.5rem;
				}
			}
		}
	}
	.tabs__detail-profile{
		margin-top:2rem;
		// width: 100%;
		.tabs {
			.nav-tabs{
				margin-left: -1rem;
			}

			.profile__info{
				ul li{
					list-style: none;
				}
			}

			.row__form-filter{
				margin-left: -17rem;
				width:80%;
				.form__filter-profile-tabs{
					select{
						border: 1px solid $primary-button;
						border-sizing: border-box;
						background: $default;
						color: $primary-button;
						border-radius: 5px;
						height:33.7px;
						width:190px;
						margin-bottom: 1rem;
						margin-left: 200px;
					}
					button{
						margin-top:12px;
						width: 320px;
						left:100px;
						height: 38px;
						border-radius:4px;
						font-size:16px;
						background-color: $primary-button!important;
					}
				}
				.form__filter-caption{
					left:220px;
					color: $color-primary;
					font-size: 16px;
					line-height: 19px;
					font-weight: 700;
					top:5px;
				}
			}
		}
	}
}

// Desktop
@media (min-width: 992px) {
	.profile__page{
		margin-top: 7rem;

		.card__profile-page{
			.profile__info-data{
				.col__img-profile{				
					img{
						max-width: 130px;
						margin-left: -1rem;
					}
				}
				.col__data-profile{
					margin-left: -15rem;
					margin-top: 1rem;				
					h4{
						color: $color-primary;
						font-size:21px;
						font-weight:700;
					}
					ul li{
						list-style: none;
					}
					li{
						margin-left: -2.5rem;
					}
				}
			}

			.profile__options-page{
				margin-top:2rem;
				margin-left:5rem;
				button{
					text-align: left;
					// width:100px;
				}
			}
		}
		.tabs__detail-profile{
			margin-top:2rem;
			.nav-tabs {
				width: 50%;
				margin-left: -1rem;
				border-bottom: none;
			}

			.nav-tabs .nav-link.active{
				color:$color-primary;
				border:0;
				margin-bottom: 3rem;
				font-weight: 700;
				line-height: 31px;
				font-size: 15px;
				&:after{
					content:'';
					display: block;
					border-bottom: 3px solid #0B63DC;
					width:100%;
					margin:auto;
					padding-bottom: 5px;
					margin-bottom: -8px;
				}
			}

			.nav-link{
				color:$color-primary!important;
				font-weight: 700;
				line-height: 31px;
				font-size: 16px;
			}

			.nav-item.show .nav-link {
				color:$color-primary!important;
				font-weight: 700;
				line-height: 31px;
				font-size: 18px;
			}
			ul li {
				list-style: none;
			}
			li{
				font-size:18px;
			}

			h4{
				color:$color-primary;
				font-size: 20px;
				font-weight: 700;
				line-height: 27px;
				text-transform: capitalize;
			}

			.badge__category{
				margin-left: -9rem;
			}

			.row__form-filter{
				margin-left: -3rem!important;
				.form__filter-profile-tabs{
					.select__1{
						margin-left: -55px;
					}
					.select__2{
						margin-left: 20px;
					}
					select{
						border: 1px solid $primary-button;
						border-sizing: border-box;
						background: $default;
						color: $primary-button;
						border-radius: 5px;
						height:33.7px;
						font-size: 11px!important;
						width:120px!important;
						margin-left: 10rem!important;
					}
					button{
						margin-top:-3px!important;
						margin-left: 5rem;
						width: 140px!important;
						height: 25px;
						border-radius:4px;
						font-size:10px!important;
						background-color: $primary-button!important;
					}
				}
				.form__filter-caption{
					left:312px!important;
					color: $color-primary;
					font-size: 16px;
					line-height: 19px;
					font-weight: 700;
					top:5px;
					left: 300px!important;
				}
			}

			.btn__link-event{
				margin-top:5px;
				margin-left: -2px;
				border-radius:4px;
			}
		}
	}
}